
canvas { background: rgb(98, 96, 96); 
    background-image: url(../build-a-game-tutorial-GitLukeW/Photos/background\ copy.jpeg);
     display: block; 
     margin: 0 auto;
     background-position: center;
     background-size: cover;
     /* border: 2px solid rgb(2, 70, 21); */
    }

     body {
        background-color: antiquewhite;
        /* border: 2px solid rgb(15, 8, 239); */
     }

     header {
        text-align: center;
        margin-top: 10px;
        font-size: 35px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     }

     .modal {
      height: 550px;
      width: 650px;
     }

     .mscottimg {
      display: flex;
      height: 100%;
      width: 100%;
     }

     .mscott {
      position: fixed;
      top: 0;
      /* background-color: aqua; */
      display: none;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
     }